<h3>About me</h3>
<p>Donec libero libero, bibendum non condimentum ac, ullamcorper at sapien. Duis feugiat urna vel justo cursus facilisis. Vivamus ligula dui, convallis a varius vitae, facilisis eget magna.</p>

<ul>
  {% for post in site.posts limit: 5 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<div class="row-fluid">
    <div class="span8">
        <h1>Home Page</h1>

        <p>Content will go here</p>
    </div>
    <div class="span4">
        <h3>Sidebar</h3>

        <p>Sidebar content goes here.</p>
    </div>
</div>
