<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Story</h2>
                    <h3 class="section-subheading text-muted">From the contest to the open data</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 2014</h4>
                                    <h4 class="subheading">The Telecom Italia Big Data Challenge starts</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Telecom Italia announces the Big Data Challenge: the first contest in Italy to stimulate the creation and development of innovative technological ideas from Big Data with the release of one of the largest heterogeneous Big Data set</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>April 2014</h4>
                                    <h4 class="subheading">The Big Data Jam</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The contest involved the participation of 1,100+ participants (652 teams and 105 universities) from all over the world. 100+ projects submitted. At the Big Data Jam, hosted in Trento, the three winning teams, one for each track (Data Analytics, Data Visualization and App Development) were announced: Easystats Ltd, the University of Trento and LocaliData, from London, Trento and Milano.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>December 2014</h4>
                                    <h4 class="subheading">The Open Data is out!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We believe in the power of Open Data and we then decided to release them in Open Data.</p>
                                </div>
                            </div>
                        </li>
<!--
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now</h4>
                                    <h4 class="subheading">What we do</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">The lab’s members are actively working on <a href="http://www.finodex-project.eu/">FINODEX</a> a EU- funded project focused on the reuse of open data by start-ups and SMEs and on the translation and adoption of the <a href="https://certificates.theodi.org/">Open Data Certificates</a> in Italy.</p>
                                </div>
                            </div>
                        </li>
-->
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>and now
                                    <br>it's your<br/>turn!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
