 <!-- Portfolio Modals -->
{% for post in site.openbigdataposts %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
                            <p text-align="left">{{ post.description }}</p>
                            <ul class="list-inline item-details">
                                <li>area:
                                    <strong>{{ post.area }}
                                    </strong>
                                </li>
                                <li>owner:
                                    <strong>{{ post.owner }}
                                    </strong>
                                </li>
                                <li>license:
                                    <strong>{{ post.license }}
                                    </strong>
                                </li>
                                <li>download:
                                    <strong><a href="{{ post.website }}" target="_new">{{ post.download }}</a>
                                    </strong>
                                </li>
                                <li>type:
                                    <strong>{{ post.type }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
