<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is it?</h2>
                    <h3 class="section-subheading text-muted">the reason of this website</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-trophy fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Big Data Challege</h4>
                    <p class="text-muted">At the beginning of 2014, Telecom Italy, together and several partners, has launched a competition on the theme of big data - the <a href="http://www.telecomitalia.com/tit/en/bigdatachallenge.html" target="_new">Big Data Challenge</a><p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gift  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">... and now ...</h4>
                    <p class="text-muted">Some people have even asked these data</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-unlock-alt  fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Open Data</h4>
                    <p class="text-muted">At the conclusion of the competition it was decided to open these data so that others have time to understand them, study them and generate new ideas</p>
                </div>
            </div>
        </div>
    </section>
