<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Partner</h2>
                    <h3 class="section-subheading text-muted">the team behind the scenes</h3>
                </div>
            </div>

            <div class="row">
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Telecom</h4>
                        <p class="text-muted">SKIL Semantic&Knowledge Innovation Lab</p>
                        <ul class="list-inline social-buttons">
                            
                            <li><a href="http://jol.telecomitalia.com/jolskil/"><i class="fa fa-home page"></i></a>
                            
                            <li><a href="https://twitter.com/TelecomItaliaTw"><i class="fa fa-twitter"></i></a> 

                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" alt="">
                        <h4>Spaziodati</h4>
                        <p class="text-muted">SpazioDati</p>
                        <ul class="list-inline social-buttons">
                            
                            <li><a href="http://www.spaziodati.eu"><i class="fa fa-home page"></i></a>
                           
                            <li><a href="https://twitter.com/spaziodati"><i class="fa fa-twitter"></i></a>

                        </ul>
                    </div>
                </div>
                
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-responsive img-circle" alt="">
                        <h4>Fondazione Bruno Kessler</h4>
                        <p class="text-muted">FBK - Trento ODI node</p>
                        <ul class="list-inline social-buttons">
                            
                            <li><a href="http://ict.fbk.eu"><i class="fa fa-home page"></i></a>
                            
                             <li><a href="https://twitter.com/dclfbk"><i class="fa fa-twitter"></i></a>

                        </ul>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">The laboratory <a href="http://jol.telecomitalia.com/jolskil/" target="_new">SKIL</a> of Telecom Italy organized the competition, data collection, agreements ecc..., <a href="http://spaziodati.eu" target=_new">SpazioDati</a> organized data and transfer mode, FBK took care of the science on big data and <a href="http://theodi.fbk.eu">open data</a> policy.</p>
                </div>
            </div>
        </div>
    </section>
